.B1 {
  display: flex;
  width: 100%;
  /* padding: 48px 0px; */
  justify-content: center;
  align-items: center;
  gap: 72px;
}
@media only screen and (max-width: 720px) {
  .B1 {
    flex-direction: column-reverse;

    text-align: justify;
  }
}
.subB1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  padding: 20px;
  width: 90%;
}
.TextB1 {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
  align-items: center;
  width: 90%;
}
.gets {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.gets2 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #fff;
  background: #000;
}
.gets1 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #fff;
  color: #000;
}
.component1 {
  width: 90%;
  width: 80;
  height: 600px;
  flex-shrink: 0;
}
