.B2 {
  display: flex;
  /* width: 100%; */
  /* padding: 84px 200px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 80%;
}
.TextB2 {
  color: #e6b63c;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: 1.6px;
}
.data {
  display: flex;
  width: 90%;
  /* padding: 84px 200px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media only screen and (max-width: 720px) {
  .data {
    /* flex-direction: column; */
    width: 80%;
  }
}
.data1 {
  display: flex;
  padding-right: 0px;
  align-items: center;
  width: 90%;
  justify-content: flex-start;
}
.D1 {
  display: flex;

  padding: 20px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #a1e5dd;
  width: 20%;
}
@media only screen and (max-width: 720px) {
  .D1 {
    /* flex-direction: column; */
    width: 40%;
  }
}
.D2 {
  display: flex;
  width: 245.333px;
  padding: 20px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.D3 {
  display: flex;
  padding-right: 0px;
  align-items: center;
}
.data2 {
  display: flex;
  padding-left: 0px;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}
.D4 {
  display: flex;
  padding-left: 0px;
  justify-content: flex-end;
  align-items: center;
}
.D5 {
  display: flex;
  width: 245.333px;
  padding: 20px 12px;
  justify-content: space-between;
  align-items: center;
}
.D6 {
  display: flex;
  /* width: 245.333px; */
  padding: 20px 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #ffd3d3;
  width: 20%;
}
@media only screen and (max-width: 720px) {
  .D6 {
    /* flex-direction: column; */
    width: 40%;
  }
}
.P1 {
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}
.P2 {
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
}
.P3 {
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
}
.P4 {
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.28px;
}
.statistics {
  display: flex;
  /* padding: 40px 32px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: initial;
  position: relative;
  border-radius: 12px;
  border: 1px solid #e6b63c;
  width: 100%;
}
.graph {
  display: flex;
  transform: rotate(0deg);
  padding: 12px 16px 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 90%;
  height: 100px;
  transform: rotate(0deg);
  flex-shrink: 0;
  position: absolute;
  left: 64px;
  top: 64px;
}
.profit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ctrlprofit {
  color: #e6b63c;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 150% */
  letter-spacing: 1.12px;
}
.description {
  color: #e6b63c;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;

  color: #e6b63c;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.48px;
  text-transform: lowercase;
}
.graph2 {
  right: 262.849px;
  bottom: 21.498px;
  display: flex;
  align-items: center;
}

.ticks {
  display: flex;
  transform: rotate(-0.037deg);
  padding: 16px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;

  border-radius: 16px;
  background: #9aeaac;
  width: 90%;
  height: 59px;
}
