.picture {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media only screen and (max-width: 720px) {
  .picture {
    width: 90%;
   text-align: justify;
  }
}

.bigpicture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 90%;
}
.numb1 {
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;

  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #e6b63c;
  -webkit-text-fill-color: black;
}

.see {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;

  color: #e6b63c;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
}
.description {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.image {
  height: 242px;
  position: absolute;
  right: 36.5px;
  top: auto;
  width: 50%;
}
@media only screen and (max-width: 720px) {
  .image {
    width: 20%;
  }
}
