.box5 {
  display: flex;
  width: 100%;

  align-items: center;
  gap: 24px;
}
.connect {
  width: 270.84px;
  height: 262.54px;
  flex-shrink: 0;
}
.easyconnect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.num3 {
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ec9c9e;
  -webkit-text-fill-color: black;
  text-transform: uppercase;
}
.easytoconnect {
  color: #fff;
  leading-trim: both;
  text-edge: cap;

  color: #ec9c9e;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
}
.desceasy {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;

  display: flex;
  width: 80%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
