.box5 {
  display: flex;
  /* padding: 64px 200px; */
  align-items: center;
  gap: 24px;
  width: 100%;
}
/* @media only screen and (max-width: 720px) {
  .box5 {
    width: auto;
  }
} */
.phone {
      /* width: 270.84px; */
      height: 262.54px;
      flex-shrink: 0;
}
.easy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.num03 {
  display: flex;
  width: 170px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ec9c9e;
  -webkit-text-fill-color: black;
}
.connect {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.56px;
  color: #ec9c9e;
}
.des {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
