.box7 {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 10px;
}
@media only screen and (max-width: 720px) {
  .box7 {
    width: 80%;
  }
}
.topbrand {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 105% */
  letter-spacing: 1.6px;
}
.white {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  padding: 32px 24px;
  border-radius: 12px;
  background: #fff;
}
.xw {
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  text-transform: uppercase;
}
.roi {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 150% */
  letter-spacing: 0.32px;
}
.orange {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 32px 24px;
  align-self: stretch;

  border-radius: 12px;
  background: #ff9565;
}
.xo {
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  letter-spacing: 0.6px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  text-transform: uppercase;
}
.ROI {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 150% */
  letter-spacing: 0.32px;
}
.yellow {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 12px;
  background: #e6b63c;
}
.num {
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
  text-transform: uppercase;
}
.worldclass {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
  letter-spacing: 1.12px;
}
.socials {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 150% */
  letter-spacing: 0.32px;
}
.footer {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
@media only screen and (max-width: 720px) {
  .footer {
    padding: 10px;
  }
}
.social {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 175% */
  letter-spacing: 0.96px;
}

.descfooter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 50px;
  flex: 1 0 0;
}
.udl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}
.useful {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 350% */
  letter-spacing: 0.48px;
}
.download {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 350% */
  letter-spacing: 0.48px;
}
.licence {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Bebas Neue;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 350% */
  letter-spacing: 0.48px;
}
.higherroi {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.div2 {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  gap: 10px;
}

.reserved {
  color: #fff;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Inter, sans-serif;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 525% */
  letter-spacing: 0.32px;
  align-items: center;
  display: flex;
}
