.HeadingMain {
  display: flex;
  width: 1152px;
  height: 102px;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}
.Headinglogo {
  overflow: hidden;
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  text-overflow: ellipsis;
  font-family: "Bebas Neue", sans-serif;
  font-size: 146px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 5.84px;
}
.headimage {
  width: 98px;
  height: 98px;
  flex-shrink: 0;
}
