* {
  margin: 0;
}
html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: "Inter", sans-serif;
  background: rgba(0, 0, 0, 1);
  color: #fff;
}
#root,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  background: rgba(0, 0, 0, 1);
  color: #fff;
}
